<!DOCTYPE html>
<html lang=en>
	<head>
		<title>Quick Cash | Reset Password</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
		<style>
			.wrapper {
			  padding: 50px;
			  border: 1px solid silver;
			  background: rgb(37, 133, 152);
			}
		</style>
	</head>
	<body>
		<div class="wrapper">
		  <center style="font-size: 29px; color: white;margin-bottom: 30px;">Quick Cash</center>
          <div>
			<center style="margin-top: 20px;color: white;">Click here to reset your password</center>
		  </div>
		  <div>
			<center><a href="<%= `${urlLink}` %>"><button type="button" style="padding: 25px;margin-top: 15px;border-radius: 10px; border: 1px solid silver;cursor: pointer;">RESET PASSWORD</button></a></center>
		  </div>
		</div>
	</body>
</html>	